/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Source Sans 3", sans-serif;
    --primary-color: #FBFEFC; /* light green */
    --secondary-color: #307341; /* dark green */
    --highlight-color: #A3D9B1; /* green */
}

/* Global styles */

body {
    background-color: var(--primary-color);
    padding-top: 60px;
    font-family: var(--primary-font);
}

h1,
h2 {
    font-family: var(--primary-font);
}

h1 {
    font-size: 100px;
    font-weight: bold;
}

p {
    font-size: large;
}

/* Header image */

.d-block {
    width: 100%;
    min-width: 200px;
    height: 100%;
    max-height: 600px;
    border-radius: 20px;
}

#services {
    margin-top: 40px;
}

h2 {
    font-size: 60px;
    font-weight: bold;
}

.card {
    margin-bottom: 20px;
}

#booking-enquiry {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: black;
    font-size: x-large;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    font-size: x-large;
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media queries */

/* Small devices (mobiles, 320px and up) */
@media screen and (max-width: 375px) {
    /* Use smaller font-size for H1 */
    h1 {
        font-size: 32px;
    }
}