/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Source Sans 3", sans-serif;
    --primary-color: #FBFEFC; /* light green */
    --highlight-color: #A3D9B1; /* green */
}

/* Global styles */

body {
    background-color: var(--primary-color);
    padding-top: 60px;
    font-family: var(--primary-font);
}

h1,
h2 {
    font-family: var(--primary-font);
}

h1 {
    font-size: 120px;
    font-weight: bold;
}

p {
    font-size: x-large;
}

/* Header image */

.d-block {
    width: 200px;
    height: 600px;
    border-radius: 20px;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: black;
    font-size: x-large;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: black;
    font-size: x-large;
}